.container {
  background-color: #c4c4c4;
  width: 1100px;
  padding: 50px;
  box-sizing: border-box;
  margin: 0 auto;
}
.first {
  background-color: #e6e6e6;
  margin-bottom: 50px;
}
.first-block-1 {
  float: left;
  width: 200px;
  height: 200px;
  background-color: #fc8f8f;
  font-weight: bold;
  font-size: 64px;
  color: white;
  padding-top: 63px;
  text-align: center;
  box-sizing: border-box;
}
.first-block-2 {
  float: right;
  width: 200px;
  height: 200px;
  background-color: #fc8f8f;
  font-weight: bold;
  font-size: 64px;
  color: white;
  padding-top: 63px;
  text-align: center;
  box-sizing: border-box;
}
.clearfix {
  clear: both;
}
.second {
  background-color: #e6e6e6;
  margin-bottom: 50px;
}
.second-block-1 {
  float: left;
  width: 200px;
  height: 200px;
  background-color: #fc8f8f;
  font-weight: bold;
  font-size: 64px;
  color: white;
  padding-top: 63px;
  text-align: center;
  box-sizing: border-box;
}
.right-box {
  float: right;
}
.second-block-2 {
  width: 100px;
  height: 100px;
  background-color: #fc8f8f;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding-top: 25px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 11px;
}
.second-block-3 {
  width: 100px;
  height: 100px;
  background-color: #fc8f8f;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding-top: 25px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 11px;
}
.second-block-4 {
  width: 100px;
  height: 100px;
  background-color: #fc8f8f;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding-top: 25px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 11px;
}
.second-block-5 {
  width: 100px;
  height: 100px;
  background-color: #fc8f8f;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding-top: 25px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}
.third {
  background-color: #e6e6e6;
}
.third-block-1 {
  float: left;
  width: 200px;
  height: 200px;
  background-color: #fc8f8f;
  font-weight: bold;
  font-size: 64px;
  color: white;
  padding-top: 63px;
  text-align: center;
  box-sizing: border-box;
  margin-right: 15px;
}
.third-block-2 {
  float: left;
  width: 200px;
  height: 200px;
  background-color: #fc8f8f;
  font-weight: bold;
  font-size: 64px;
  color: white;
  padding-top: 63px;
  text-align: center;
  box-sizing: border-box;
}
.third-block-3 {
  width: 200px;
  height: 200px;
  background-color: #fc8f8f;
  font-weight: bold;
  font-size: 64px;
  color: white;
  padding-top: 63px;
  text-align: center;
  box-sizing: border-box;
  margin-right: 11px;
  display: inline-block;
}
.third-block-4 {
  width: 200px;
  height: 200px;
  background-color: #fc8f8f;
  font-weight: bold;
  font-size: 64px;
  color: white;
  padding-top: 63px;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
}
